*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrap{
    position: relative;
    top:0;
    z-index: 0;
}
.playerWrap{
	position: absolute;
	top:0;
	background: rgba(0,0,0,0);
    z-index: 1;
}
.addPlayerBtn{
	width: 60px;
	height: 25px;
	position: absolute;
	top:50px;
	right:50px;
	z-index: 2;
}
.showMoveNum{
	width: 60px;
	height: 25px;
	position: absolute;
	top:250px;
	right:50px;
	text-align: center;
	z-index: 2;
}
.randomMoveBtn{
	width: 60px;
	height: 25px;
	position: absolute;
	top:150px;
	right:50px;
	z-index: 2;
}
.creatPlayer{
	width: 300px;
	height: 150px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-125px;
	margin-left:-150px;
	z-index: 4;
	background: #CCCCCC;
	border-radius: 20px;
	display: none;
}
.creatPlayer>p{
	padding:10px 20px;
}
.creatPlayer label{
	display: inline-block;
	margin:10px;
	font-size: 14px;
}
.playerNameInp{
	width: 150px;
	height: 25px;
	display: inline-block;
	margin:10px;
	text-indent: 12px;
}
.nameBtn{
	width: 80px;
	height: 30px;
	margin:0 23px;
}
.mask{
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	z-index: 3;
}
.show{
	display: block!important;
}
.buyHome{
	width:200px;
	height:100px;
	position: absolute;
	background: #ccc;
	border-radius: 20px;
	top:45%;
	left: 345px;
	margin:-50px 0 0 -50px;
	display: none;
	z-index: 4;
	padding:10px;
}
.buyHome>p{
	text-indent: 10px;
}
.buyBtn,.nobuyBtn{
	width: 50px;
	height: 25px;
	margin:20px;
}
.playerInfo{
	width: 110px;
	height: auto;
	position: absolute;
	top:450px;
	right:30px;
	z-index: 2;
}
.payMoneyBox{
	width:200px;
	height:100px;
	position: absolute;
	background: #ccc;
	border-radius: 20px;
	top:45%;
	left: 345px;
	margin:-50px 0 0 -50px;
	z-index: 4;
	padding:10px;
	display: none;
}
.payMoneyBox>p{
	text-indent: 10px;
}
.payBtn{
	width: 50px;
	height: 25px;
	display: block;
	margin:40px auto;
}
